.navbar {
  background-color: #230238;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: -4%;
  margin-top: -2%;
  width: 99%;
}
  body{
    background-color: #B6A4CB;
    margin-left: 3%;
    /* margin-right: 3%;background-image: url(images/doubt.webp);
    background-repeat: no-repeat;
    object-fit: cover; */
  
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .create_account{
    color: white;
  }
  .navbar li {
    margin-right: 20px;
    
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    
   
  }
  .navbar a.active {
    color: #EC008C;
    font-weight: bold;
  }

.goal-row {
    display: flex;
    justify-content: space-around;
}

.short-term, .long-term {
    flex: 1;
    padding: 60px;
    border: 1px solid #ccc;
    background-color: lightslategray;
    margin: 10px;
    
}
#message-button{
  margin-left: 47%;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #EC008C;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #550984;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}
@media (min-width:400px) and (max-width:800px){
  .goal-row {
    display: block;
    justify-content: space-around;
    
}
.navbar {
  background-color: #230238;
  color: white;
  padding: 40px;
  display: flex;
  gap: 0.000001%;
  justify-content: space-between;
  margin-top: -6%;

}
}
@media (min-width:200px) and (max-width:400px){
  .goal-row {
    display: block;
    justify-content: space-around;
    
}
.navbar {
  background-color: #230238;
  color: white;
  padding: 40px;
  display: flex;
  gap: 0.000001%;
  justify-content: space-between;
  margin-top: -6%;

}
.navbar a {
  color: white;
  text-decoration: none;
  gap: 0.000001%;
  
 
}
.navbar li {
  margin-right: 6px;
  gap: 0.000001%;
  
}
}
@media (min-width:280px) and (max-width:360px){
  .goal-row {
    display: block;
    justify-content: space-around;
    
}
.navbar {
  background-color: #230238;
  /* background-size: cover; */
  color: white;
  padding: 15px 34px;
  display: flex;
  justify-content: space-between;
  width: 112%;
  margin-top: -3%;
  margin-left: -35%;
  font-size: 12%;
}
.navbar a {
  color: white;
  text-decoration: none;
  gap: 0.000001%;
}
.navbar li {
  /* margin-right: -9px; */
  margin-left: -9px;
  
  
}
.short-term, .long-term {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: lightslategray;
  /* margin: 10px; */
  
}
}
@media (min-width:360px) and (max-width:420px){
  .navbar {
    background-color: #230238;
    /* background-size: cover; */
    color: white;
    padding: 10px 34px;
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin-top: -3%;
    margin-left: 3%;
    font-size: 12%;
  }
  .short-term, .long-term {
    /* flex: 1; */
    padding: 1px;
    border: 0.25px solid #ccc;
    background-color: lightslategray;
    /* margin: 10px; */
    width: 115%;
    
  }
  body{
    background-color: #B6A4CB;
    margin-left: -2%;
    width: 80.5%;
    /* margin-right: 3%;background-image: url(images/doubt.webp);
    background-repeat: no-repeat;
    object-fit: cover; */
  
  }
  .navbar li {
    /* margin-right: -9px; */
    margin-right: -35px;
   
    
  }
  .navbar ul {
    list-style-type: none;
    /* margin: 0; */
    padding: 10px 23px;
    display: flex;
  }
  .navbar a {
    color: white;
    text-decoration: none;
  }
}