.navbar {
    background-color: #230238;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: -5%;
    margin-top: -1%;
    width: 102.1%;
  }
  body{
    background-color: #B6A4CB;
    margin-left: 3%;
    margin-right: 3%;
  }
  .mentor-picture{
    margin-top: 5%;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .create_account{
    color: white;
  }
  .navbar li {
    margin-right: 20px;
    
  }
  .navbar a {
    color: white;
    text-decoration: none;
  }
  .mentor-details {
    display: flex;
    align-items: center;
    gap: 30%;
    margin-left: 10%;
   
}
.mentor-picture img {
    width: 180%;
    height: auto;
    size: cover;
    position: center;
    object-fit: cover;
    margin-right:34% ;
}
#message-button{
  width: 54%;
  background-color: #BCBDBF;
  padding: 15px;
  border-radius: 26px;

}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbar a.active {
  color: #EC008C;
  font-weight: bold;
}
.successphotos{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12%;
  }
@media  (min-width:200px) and (max-width:400px) {
  .navbar {
    background-color: #230238;
    color: white;
    padding: 10px;
    display: flex;
    font-size: 19%;
    justify-content: space-between;
  }
  .mentor-details {
    display: block;
}
.successphotos img{
  width: 93%;
}
body{
  background-color: #B6A4CB;
  /* margin-left: 3%;
  margin-right: 3%; */
}
 
}
@media  (min-width:401px) and (max-width:600px){
  .navbar {
    background-color: #230238;
    color: white;
    padding: 21px;
    display: flex;
    justify-content: space-between;
  }
  .mentor-details {
    display: block;
}
.successphotos img{
  width: 93%;
}
body{
  background-color: #B6A4CB;
  /* margin-left: 3%;
  margin-right: 3%; */
}
}